/*Muestra o oculta secciones del html*/
.disappear{
  display: none;
}

/*Define las propiedades del fondo*/
body{
  background-image: url("pattern1.png");

}

h1{
  color: #FAE300;
  font-family: 'Dancing Script', cursive;
  font-size:100px;
  text-align: center;
}

.button{
  color: #EB5EDC;
  background-color:#59FFEA;
  /*padding:40px;ancho del  elemento*/
  margin: 20px 20px; /*Pone margenes alrededor del elemnto*/
  align-content: center;
  cursor: pointer;
  border:none;/*pone o no borde al elemento*/
  width:auto;/*Largo*/
  height:auto; /*ancho*/
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:bold;
  font-size: 20px;
}


div{
  border: white 1px solid;
  margin: 20px 20px;
  width: auto;
  height: 90vh;/* vh se adapta al dispositivo en el que se este mostrando*/
  text-align: center;
  background-color: #FF4CB5;

}

p{
  font-size:40px;
  font-family: 'Roboto', sans-serif;
  color:white;
}
