/*Define las propiedades de estilo del body*/
body{
  margin: 0;
  padding: 0;
  background-image: url("Images/background_image.jpg");
  background-size: cover;/*Establece el tamaño de la imagen de fondo*/
}
/*Define las propiedades de estilo del encabezado principal*/
h1{
  color: #001BCC;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 80px;
  text-align: center;
}
/*Define las propiedades de estilo del encabezado secundario , parrafos y etiquetas*/
h2,p,label{
  color: #050638;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 25px;
  text-align: center;
  font-weight:bold;
  margin: 0px;
}
/*Define las propiedades de estilo de los input*/
input{
  width: 160px;
  height: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}
/*Define las propiedades de estilo de los div*/
 div{
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  height: 100vh;
  width: 100vw;
}


/*Define las propiedades de estilo de los elementos con el id  señalado*/
#discover-message,#hide-message{
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  height: 450px;
  color: black;/*Color de la letra*/
  background-color: white;
  margin-left: 40px;
  margin-right: 40px;
  border: gray solid 1px;
  text-align: justify;/*Establce la alineacion del texto*/
  border-radius: 3px;
  font-weight: normal;
}
#message-to-hide, #message-to-discover{
  display: block;
  width: 1232px;
  height: 300px;
  margin-left: 40px;
  resize:none;/*deja fijo el cuadro de textarea*/
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  border-radius: 3px;/*Redondea el borde*/
  border-color: #EFEFEF;
}
#lock-image{
  width: 60px;
  height: 65px;
}
/*Define la clase disappear*/
.disappear{
  display: none;
}
/*Define las propiedades de estilo de la clase indicada*/
.lock-image-1{
  width: 25px;
  height: 25px;
}
/*Define las propiedades de estilo de los botones*/
.button{
  color: #FF5101;
  background-color:#050638;
  padding: 10px;
  margin: 20px 20px;
  align-content: center;
  cursor: pointer;
  border:none;
  width:auto;/*Ajusta el Largo*/
  height:auto; /*Ajusta el ancho*/
  font-family: 'Roboto Condensed', sans-serif; /*Establece la tipografia*/
  font-weight:bold;/*Aplica negritas al texto*/
  font-size: 20px;/*Establece el tamaño de la letra*/
}
/*Sombrea el boton cuando pasa por encima el mouse*/
.button:hover{
 background-color: white;
 border: 2px solid black;
}
