/*Define la clase disappear*/
.disappear{
  display: none;
}

/*Define las propiedades de estilo del fondo*/
body{
  background-image: url("pattern.png");
}
/*Define las propiedades de estilo del encabezado principal*/
h1{
  color: #FAE300;
  font-family: 'Dancing Script', cursive;
  font-size: 100px;
  text-align: center;
}
/*Define las propiedades de estilo de los botones*/
.button{
  color: #7B00FF;
  background-color: #59FFEA;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px 20px; /*Pone margenes alrededor del elemnto*/
  align-content: center;
  cursor: pointer;
  border:none;/*pone o no borde al elemento*/
  width:auto;/*Ajusta el Largo*/
  height:auto; /*ajusta el ancho*/
  font-family: 'Roboto Condensed', sans-serif; /*Establece la tipografia*/
  font-weight:bold;/*Aplica negritas al texto*/
  font-size: 20px;
}
/*Define las propiedades de estilo de los div*/
div{
  padding: 30px;
  border: white 1px solid;
  margin: 50px;
  width: auto;
  height: 80vh;/* vh se adapta al dispositivo en el que se este mostrando*/
  text-align: center;
  background-color: #FF4CB5;

}
/*Define las propiedades de estilo de los parrafos*/
p{
  font-size: 30px;
  font-family: 'Courgette', cursive;
  color: #FAE300;
  font-weight:bold;/*Aplica negritas al texto*/
  margin-top: 10px;
  margin-bottom: 10px;
}
/*Define las propiedades de estilo de los elementos con el id  señalado**/
#discover-message,#hide-message{
  font-size: 40px;
  font-family: 'Noto Sans HK', sans-serif;
  height: 150px;
  color: #8000D1;
}
/*Define las propiedades de estilo de los elementos con el id  señalado**/
#message-to-discover,#message-to-hide{
  height: 100px;
  width: 550px
}
/*Define las propiedades de estilo de los elementos con el id  señalado**/
#hide-key, #discover-key{
  width: 83px;
  height: 41px;
}
