/*Muestra o oculta secciones del html*/
.disappear{
  display: none;
}

/*Define las propiedades del fondo*/
body{
  background-image: url("pattern1.png");

}

h1{
  color: #FAE300;
  font-family: 'Dancing Script', cursive;
  font-size:100px;
  text-align: center;
}

.button{
  color: #FFFFFF;
  background-color: #FF0D5E;
  color:white;
  /*margin: 20px 20px;Pone margenes alrededor del elemnto*/
  /*padding:40px;ancho del  elemento
  border: green 2px solid; pone borde al elemento*/

  margin: 20px 20px;
  align-content: center;
  cursor: pointer;
  border:none;
  width:auto;/*Largo*/
  height:40px/*ancho*/

}

div{
  border: white 1px solid;
  margin: 20px 20px;
  width: auto;
  height: 90vh;/* vh se adapta al dispositivo en el que se este mostrando*/
  text-align: center;
  background-color: #FF4CB5;

}

p{
  font-size:40px;
  font-family: 'Roboto', sans-serif;
  color:white;
}
